@font-face {
    font-family: 'Medium';
    src: url('../../font/Yekan\ Bakh\ EN\ 05\ Medium.woff');
}

@font-face {
    font-family: 'Regular';
    src: url('../../font/Yekan\ Bakh\ EN\ 05\ Regular.woff');
}

@font-face {
    font-family: 'Bold';
    src: url('../../font/Yekan\ Bakh\ EN\ 05\ Bold.woff');
}

@font-face {
    font-family: 'Light';
    src: url('../../font/Yekan\ Bakh\ EN\ 05\ Light.woff');
}

@font-face {
    font-family: 'heavy';
    src: url('../../font/Yekan\ Bakh\ EN\ 05\ heavy.woff');
}

@font-face {
    font-family: 'Fat';
    src: url('../../font/Yekan\ Bakh\ EN\ 05\ Fat.woff');
}